@import "tailwindcss";

html,
body {
  @apply bg-gray-800;
}

body {
  touch-action: none;
}

button {
  @apply cursor-pointer disabled:cursor-not-allowed;
}

.clock-text {
  @apply font-mono;
  @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl;
  @apply portrait:text-7xl;
}

@keyframes spinSlowToStop {
  0% {
    transform: rotate(-1080deg);
  }
  100% {
    transform: rotate(0deg); /* 2 full rotations */
  }
}

.slow-stop {
  animation: spinSlowToStop 4s cubic-bezier(0.05, 0.8, 0.4, 1) forwards;
}
